<!DOCTYPE html>
<html>
<head>
    <title>Interal Error</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h3>500 - Internal Error</h3>
    <p>
        <span>Message: <%= message %></span>
    </p>
</body>
</html>
