<!DOCTYPE html>
<html>
<head>
    <title>Interal Server Error - Toto</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h3>500 - Internal Server Error</h3>
    <p>
        <span>Message: <%= message %></span>
    </p>
</body>
</html>
