<!DOCTYPE html>
<html>
<head>
    <title>Toto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="page-content">
        <h2>Hello, I'm Toto</h2>
        <br />
        <div>
            <p>Nice to see you!</p>
        </div>
        <br />
        <div>
            <a href="/dashboard">Go to dashboard</a>
        </div>
        <div class="app-info">
            <span><%= environment %> - v.<%= version %></span><br>
        </div>
    </div>
</body>
</html>
