<!DOCTYPE html>
<html>
<head>
    <title>Toto - Sandbox</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" href="/libs/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="page-content">
        <h6>Welcome to Sandbox!</h6>
        <br />
        <br />
        <div>
            GET <a href="/sandbox/moment">/moment</a>
        </div>
        <br/>
    </div>

    <%- include('partials/footer.ejs'); %>
</body>
</html>
