<!DOCTYPE html>
<html>
<head>
    <title>Static Resource - Toto</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" href="/libs/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="page-content">
        <center>
            <div class="pt-2">
                <h4>Static Resource</h4>
            </div>
            <div>
                <p>This page lists all of static resources.</p>
            </div>
            <div class="mt-4">
                <a href="/static/log">Logging</a>
            </div>
        </center>
    </div>

    <%- include('partials/footer.ejs'); %>
</body>
</html>
