.container-dashboard {
    min-height: 90vh;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin: auto;
    max-width: 600px;
}

.dashboard-content {
    padding-top: 10px;
}

.dashboard-card {
    width: 100%;
    background: #ffffff;
    padding: 30px 30px 30px 30px;
    box-shadow: 0 4px 4px 0 #E3E9F3;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 50px;
} 