.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    background-color: #fafafb;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 50px;
    box-sizing: border-box;
    vertical-align: baseline;
}

.nav-container {
}

.menu-container {
}

.nav-link-user {
    color: whitesmoke;
}

.nav-link-user:hover {
    color: white;
}

.logout-text {
    color: orangered;
}

#nav-user-title {
    font-size: 1em;
}

#nav-user-image {
    max-width: 25px;
    border-radius: 2px;
    border: thin solid #dddddd;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:active {
    color: black;
    background-color: #eeeeee;
}

.bg-nav-custom {
    background-color: #333333 !important;
}

.navbar {
    padding: .3rem 1rem !important;
}

.nav-logo {
    max-width: 35px;
}