.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    background-color: #fafafb;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 50px;
    box-sizing: border-box;
    vertical-align: baseline;
}

.nav-link-user {
    color: rgba(0,0,0,.5);;
}

.nav-link-user:hover {
    color: rgba(0,0,0,.5);;
}

.logout-text {
    color: orangered;
}

#nav-user-title {
    font-size: 1em;
}

#nav-user-image {
    max-width: 25px;
    border-radius: 2px;
    border: thin solid #dddddd;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:active {
    color: black;
    background-color: #eeeeee;
}

.bg-nav-custom {
    background-color: #e5f2f2 !important;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(60,65,70,0.1);
}

.navbar {
    padding: .3rem 1rem !important;
}

.nav-logo-img {
    max-width: 35px;
}

.nav-logo {
    border-radius: 3px;
    border: thin solid #133337;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 600;
    color: #008080;
}