<link rel="stylesheet" href="/css/alerts.css">

<div id="danger-alert-container" class="default-alert">
    <div id="danger-alert" class="alert alert-danger fade show" role="alert">
        <span id="danger-alert-message"></span>
    </div>
</div>

<script type="text/javascript" src="/js/alerts.js"></script>