<link rel="stylesheet" href="/css/footer.css">

<div class="footer">
    <div class="container container-footer">
        <div class="row">
            <div class="col text-left">
                <span>© 2019</span>
            </div>
            <div class="col text-right">
                <span>Crafted by <a class="footer-link" 
                    href="https://thanhpl.github.io?src=footer_toto" target="_blank">thanhpl</a></span>
            </div>
        </div>
    </div>
</div>