<script type="text/javascript" src="/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/1.15.0/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/libs/bootstrap/4.3.1/css/bootstrap.min.css" />

<link rel="stylesheet" href="/css/navigation.css" />
<link rel="stylesheet" href="/css/modal.css" />

<header class="nav-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-nav-custom">
        <a class="navbar-brand pr-4" href="/">
            <img class="nav-logo" src="/images/toto_logo_sm.png" alt=""/>
            <!--<span>Toto</span>-->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/static">Static Resource</a>
                </li>
            </ul>
            <div class="nav-item dropdown my-2 my-lg-0">
                <a class="dropdown-toggle nav-link-user" href="#" id="navbarDropdown" 
                    role="button" data-toggle="dropdown" aria-haspopup="true" 
                    aria-expanded="false">
                    <!--<img id="nav-user-image" class="mr-1" src="/images/empty-user-64px.png" alt=""/>-->
                    <span id="nav-user-title">Admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <span class="dropdown-item" onclick="gotoResetPassword()">Change password</span>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item" onclick="confirmLogout()">
                        <span class="logout-text">Logout <i class="fa fa-sign-out"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</header>


<!-- Logout Confirm Modal -->
<div class="modal" id="logoutConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-custom">
                <h5 class="modal-title modal-confirm-title">
                    <i class="fa fa-exclamation-circle"></i> <span>Confirm</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="warningModalBody" class="modal-body" style="text-align: left;">
                Are you sure you want to log out?
            </div>
            <div class="modal-footer modal-footer-custom">
                <button type="button" class="btn btn-outline-secondary btn-sm btn-modal" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm btn-modal" data-dismiss="modal" 
                    onclick="logout()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/navigation.js"></script>